<div class="topnav">
    <a class="active" href="" style="font-size: 22px;">Behance</a>
    <a href="">For You</a>
    <a href="">Discover</a>
    <a href="">Hire</a>
    <a href="">Assets</a>
    <a href="">Jobs</a>

    <input type="text" [value]="searchQuery" placeholder="Google Search..."
        style="padding: 4px;margin-top: 10px;width: 30%;margin-bottom: 10px; border-radius: 30px;">&nbsp;
    <img src="../../assets/images/notification-bell-icon-free-vector.jpg" alt="" width="25px"
        style="margin:auto ; margin-left: 30px; ">
    <button onclick="signin()"
        style="float: right;margin-top: 10px;margin-right: 80px;border-radius: 40px;padding: 8px;border:none;background-color: cadetblue;">Signin</button>

    <button onclick="login()"
        style="float: right;margin-top: 10px;margin-right: 40px;border-radius: 40px;padding: 8px;border: none;background-color: cadetblue;">Login</button>
</div>

<div style="display: flex; position: relative; height: 100%; z-index: -1; margin: 0%;">

    <div style="background-color: gainsboro;margin-left: 80px;margin-right: 0%;">
        <img src="../../assets/images/51c595142291575.62640b830d0ca.png" width="100%">
        <img src="../../assets/images/8ce018142291575.62640b830d5fc.png" width="100%">
        <img src="../../assets/images/ba12ab142291575.62640b830cc23.png" width="100%">
        <img src="../../assets/images/a9b7eb142291575.62640b830c4c3.png" width="100%">
        <img src="../../assets/images/8ce018142291575.62640b830d5fc (1).png" width="100%">


        <img src="" width="100%">
        <div style="background-color: ghostwhite;width: 100%;margin: 0%;padding: 20px;">
            <div class="left-box">
                <h2 style="font-size: 22px;">Sign up to join the conversation</h2><br>
                <p>Add your feedback for abhishek sana's project by signing in or signing out.</p><br>
                <button style="background-color: blueviolet;border-radius: 20px;padding: 10px;border: none;">Sign up
                    with Email</button>or
                <button
                    style="background-color: skyblue;border-radius: 50%;padding: 10px;border: none;">A</button>&nbsp;
                <button
                    style="background-color: skyblue;border-radius: 50%;padding: 10px;border: none;">F</button>&nbsp;
                <button
                    style="background-color: skyblue;border-radius: 50%;padding: 10px;border: none;">G</button>&nbsp;
            </div>

            <div class="right-box" style="width: 30%;background-color:aqua;">

                <h3>Abhishek saha</h3>
                <h4>Kolkata, India</h4>
                <button class="aa">Follow</button><br><br>
                <h3>Abhishek</h3>
                <h4>India</h4>
                <button class="aa">Follow</button>
            </div>

            <div class="container" style="border: none;margin-top: 30px;">
                <div class="button-container">
                    <button class="aa" >Clean</button>
                    <button class="aa">Metaverse</button>
                    <button class="aa">Minimal</button>
                    <button class="aa">NFT</button>
                    <button class="aa">Product Design</button>
                    <button class="aa">UI Design</button>
                    <button class="aa">UI/UX</button>
                    <button class="aa">UX Design</button>
                    <button class="aa">Web Design</button>
                    <button class="aa">Web3</button>
                </div>
            </div>

            <div class="colorful-box">
                <h1>MetaMart UI Design</h1>
                <p>MetaMart UI Design (NFT Trading website) MetaMart is one of the early startups in the Web3 World.
                    MetaMart helps
                    you take your NFT investments t Read More</p>
                <div class="metrics">
                    <span>32</span>
                    <span>2.3k</span>
                    <span>0</span>
                </div>
                <p>Published: April 23rd 2022</p>
            </div>
        </div>
    </div>
    <div
        style="background-color: gainsboro; position:sticky; height: 100vh; top: 0px; padding: 20px;margin: 0%;justify-content: center;">
        <br><br><br>
        <ul>
            <img src="../../assets/images/images.jpeg" alt="" width="40%" style="border-radius: 50%;" onclick="Follow">
            <ul>Follow</ul><br><br>
            <img src="../../assets/images/Screenshot 2024-01-02 105305.png" alt="" width="40%"
                style="border-radius: 50%;">
            <ul>tools</ul><br><br>
            <img src="../../assets/images/4322879-200.png" alt="" width="40%" style="border-radius: 50%;">
            <ul>save</ul><br><br>
            <img src="../../assets/images/Logo_SAVE.jpeg" alt="" width="40%" style="border-radius: 20%;">
            <ul>share</ul><br><br>
            <img src="../../assets/images/5216773.png" alt="" width="40%" style="border-radius: 50%;">
            <ul>Appreciate</ul>

        </ul>
    </div>
</div>

<header>
    <div style="width: 100%;display: flex;justify-content: center;height: 100%;">
        <div class="column">
            <p class="p">Behance</p><br>
            <a href="#built-for-creatives">Built For Creatives</a>
            <a href="#find-inspiration">Find Inspiration</a>
            <a href="#get-hired">Get Hired</a>
            <a href="#sell-creative-assets">Sell Creative Assets</a>
            <a href="#sell-freelance-services">Sell Freelance Services</a>
        </div>

        <div class="column">
            <p class="p">Find Talent</p><br>
            <a href="#post-a-job">Post a Job</a>
            <a href="#all-freelance-designers">All Freelance Designers</a>
            <a href="#graphic-designers">Graphic Designers</a>
            <a href="#photographers">Photographers</a>
            <a href="#video-editors">Video Editors</a>
            <a href="#web-designers">Web Designers</a>
            <a href="#illustrators">Illustrators</a>
        </div>

        <div class="column">
            <p class="p">About Behance</p><br>
            <a href="#adobe-portfolio">Adobe Portfolio</a>
            <a href="#download-app">Download the App</a>
            <a href="#blog">Blog</a>
            <a href="#careers">Careers</a>
            <a href="#help-center">Help Center</a>
            <a href="#contact-us">Contact Us</a>
        </div>

        <div class="column">
            <p class="p">Social</p><br>
            <a href="https://www.instagram.com/">Instagram</a>
            <a href="https://twitter.com/">Twitter</a>
            <a href="https://www.pinterest.com/">Pinterest</a>
            <a href="https://www.facebook.com/">Facebook</a>
            <a href="https://www.linkedin.com/">LinkedIn</a>
        </div>
    </div>

</header>

<footer>
    <p>&copy; 2024 My Website. All rights reserved.</p>
</footer>